body {
    width: 615px;
}

.logger {
    width: 575px;
    height: 195px;
    overflow: scroll;
    padding: 5px;
    margin-left: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f3f4f7;
}

table.settings input {
    height: 12px;
    padding: 5px;
}

.leftLine {
    border-left: 2px solid #ff9576b7;
    padding-left: 5px;
    margin-left: 14px;
}

.settings td:first-child {
    width: 75%;
}

.settings td:last-child {
    text-align: right;
}

.settings td:last-child input {
    width: 100px;
}

h2 {
    background-color: #cf2121b7;
    padding: 4px;
    color: white;
    border-radius: 3px;
}

h3 {
    padding: 4px;
    color: #ffffff;
    border-radius: 3px;
    background: #818181;
    background: linear-gradient(90deg, #898d99 0%, #a58989 100%);
}

.button {
    background-color: #fffcfb;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 2px 2px 0px #ffaf9d;
}

.settings input {
    border-radius: 3px;
    background-color: #f1e8e6;
    border: none;
    color: #ad3b19;
    font-weight: bold;
}

.button:hover {
    background-color: #c95959;
    color: #ffffff;
}

.settings_block_main {
    display: flex;
}

.settings_block_main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

}

.settings_block {
    flex: 1 1 auto;
    padding-right: 20px;
}

.current_data {
    margin-top: 10px;
    padding: 0px;
}

.current_data li {
    margin-top: 3px;
}

.control_panel .button {
    margin-right: 5px;
    height: 28px;
}

.error_string {
    padding: 15px;
    color: #ad3b19;
}

.control {
    display: flex;
    flex-direction: row;

}

.buttons {
    width: 60%;
}

.indicators {
    display: flex;
    justify-content: right;
    padding-left: 15px;
    width: 32%;
}

.control_icon {
    width: 30px;
    height: 30px;
}

.control_text {
    font-size: 22px;
    margin-left: 8px;
    width: 44px;
}

.control_progress {
    position: absolute;
    right: 18px;
    top: 23px;
}

.popup_control_button {
    display: block;
    background: #524b66;
    border-radius: 4px;
    width: 33px;
    height: 30px;
    margin: 0px;
    padding-left: 8px;
    padding-top: 6px;
    margin-right: 6px;
}

.popup_control_button:hover {
    cursor: pointer;
    background: #cb6840;
}


.popup_control_icon {
    width: 25px;
    height: 25px;
}

.filter-white {
    filter: invert(100%) sepia(79%) saturate(1%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.popup_control_buttons{
    display: flex;
    flex-direction: row;
}

.control_button_last{
    margin-right: 220px;
}

.hide{
    display:none;
}

.collapsed_body{
    width:300px;
}