body {
    width: 750px;
}

.logger {
    width: 712px;
    height: 195px;
    overflow: scroll;
    padding: 5px;
    margin-left: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f3f4f7;
}

table.settings input {
    height: 12px;
    padding: 5px;
}

.leftLine {
    border-left: 2px solid #ff9576b7;
    padding-left: 5px;
    margin-left: 14px;
}

.settings td:first-child {
    width: 75%;
}

.settings td:last-child {
    text-align: right;
}

.settings td:last-child input {
    width: 100px;
}

h2 {
    background-color: #cf2121b7;
    padding: 4px;
    color: white;
    border-radius: 3px;
}

h3 {
    padding: 4px;
    color: #ffffff;
    border-radius: 3px;
    background: #818181;
    background: linear-gradient(90deg, #898d99 0%, #a58989 100%);
}

.button {
    background-color: #fffcfb;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 2px 2px 0px #ffaf9d;
}

.settings input {
    border-radius: 3px;
    background-color: #f1e8e6;
    border: none;
    color: #ad3b19;
    font-weight: bold;
}

.button:hover {
    background-color: #c95959;
    color: #ffffff;
}

.settings_block_main {
    display: flex;
}

.settings_block_main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

}

.settings_block {
    flex: 1 1 auto;
    padding-right: 20px;
}

.current_data {
    margin-top: 10px;
    padding: 0px;
}

.current_data li {
    margin-top: 3px;
}

.control_panel .button {
    margin-right: 5px;
    height: 28px;
}

.error_string {
    padding: 15px;
    color: #ad3b19;
}

.control{
    display:flex;
    flex-direction: row;

}

.buttons{
    width: 60%;
}

.control_icons{
    display: flex;
    justify-content: right;
    padding-left:15px;
    width: 50%;
}

.control_icon {
    width: 30px;
    height:30px;
}

.control_text {
    font-size: 15px;
    margin-left: 5px;
    margin-top: 0px;
    margin-right: 10px;
    width: 44px;
    text-align: right;
    border-bottom: 1px solid #c17c7c;
}

.control_progress{
    margin-right: 30px;
    margin-top: 10px;
}